@use '../utils' as *;

.hero {
    background-image: url('./images/hero-photo.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: rem(700);
    display: grid;
    grid-template-columns: 1fr 1fr;



    &__text-container {
        grid-column: 1/1;
        align-self: center;
        justify-self: end;
        max-width: rem(550);
        margin-left: 25%;

        & > * {
            margin: 0;
        }
    }


    &__btn {
        justify-self: start;
    };
}