@use '../utils' as *;

.hero {
    background-image: url('./images/hero-photo.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-color: var(--bg-light);
    height: rem(700);
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-blend-mode: multiply;


    &__text-container {
        grid-column: 1/1;
        align-self: center;
        justify-self: end;
        max-width: rem(550);
        margin-left: 25%;

        .hero__title {
            margin-bottom: rem(6);
        }

        .hero__subtitle {
            margin-bottom: rem(30);
        }
    }


    &__btn {
        height: rem(58);
        justify-self: start;
        color: var(--light-text);
    
    };
}


@media (max-width:1000px) {
    .hero {
        background-size: cover;
        background-position: center;
    }

    .hero__text-container {
        grid-column: 1/-1;
        margin: 0 auto;
    }
}

