@use '../utils' as *;

// todo
// wrapper inside container should have main props + dark styles

.container {
	display: grid;
	grid-template-columns: minmax(1em, 1fr) minmax(600px, 1440px) minmax(1em, 1fr);


	.header {
		grid-column: 1 / -1;
	
	}
	.hero {
		grid-column: 2/2;
	}
	.statement {
		grid-column: 1/-1;
	}
	.info {
		grid-column: 2/2;
	}
	.cards {
		grid-column: 2/2;
	}

	.footer {
		grid-column: 2/2;
	}
		// @media (min-width: 600px) {
		// 		display: grid;
		// 		grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
		// 		grid-column-gap: 2em;
		// }
}



