@use '../utils' as *;

.container {
	display: flex;
	align-items:center;
	align-content:center;
	flex-direction: column;


	&--dark {
		background: var(--bg-dark);
	}

	&--light {
		background: var(--bg-light);
	}

	@include breakpoint(large) {
		padding: 0;
	}
}

main {
	margin: 0 auto;
	max-width: rem(1313);	
    padding: rem(12) rem(64) 0;
}

